<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
<body>
<form action="/postt" method = "post">
<input type="text" name="username" id="" placeholder="entername"> <br><br>

<input type="password" name="password" id="" placeholder="enter password"> <br><br>

<input type="submit" value="Submit">
</form>
</body>
</html>